/* LAYOUT */

body, ul, li, p, a {
    margin: 0px;
    padding: 0px;
    font-family: 'PT Mono', monospace;
    text-decoration: none;
    color: #F3EFFE;
}

.logo p{
    margin: 0px;
    padding: 0px;
    font-size: 2.0rem;
    font-family: 'PT Mono', monospace;
    text-decoration: none;
    color: #F3EFFE;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #5827B4;
    color: white;
    padding: 0px 25px;
}

.nav-bar ul {
    display: flex;
}

.nav-bar .links ul li {
    align-items: center;
    display: flex;
    margin-left: 20px;
    list-style: none;
    text-decoration: none;
    text-decoration-color: white;
}

.btn-login{
    background: #FF4074;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'PT Mono', monospace;
    font-weight: 600;
    padding: 10px; 
    cursor: pointer; 
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: #F3EFFE;
    color: #5827B4;
    padding: 20px 25px;
}

.footer ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.footer .logo2 {
    color: #5827B4;
}

.footer .links ul li a{
    margin-left: 20px;
    color: #5827B4;
}

/* FIM LAYOUT */

/* HOME */

header {
    margin: 0 auto;
    width: 1024px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas: "conteudo img img";
    justify-content: center;
    height: 500px;
    margin-bottom: 10px;
}

.conteudo {
    grid-area: conteudo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    z-index: 1;
}

.pink {
    color: #FF4074;
}

.p1 {
    color: #FF4074;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 30px; 
}

.aprenda {
    color:#35123A;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-size: 0.8rem;
    font-family: 'PT Mono', monospace;
}

.b1 {
    background: #5827B4;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'PT Mono', monospace;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
}

.img1 {
    display: flex;
    grid-area: img;
    justify-content: center;
    object-fit: cover;
}

/* grid 2 */

.section1 {
    background-color: #F3EFFE;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "sobrepor";
    margin: 0 auto;
    width: 1024px;
}

.text2{
    grid-area: sobrepor;
    padding-top: 20px;
    text-align: center;
    z-index: 1;
}

.text2 h3{
    color: #FF4074;
}

.text2 p{
    color: #35123A;
    padding-bottom: 50px;
}

.img2 {
    display: flex;
    grid-area: sobrepor;
    text-align: center;
}

.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas: "img conteudo conteudo";
    height: 500px;
    justify-content: center;
    width: 1024px;
    margin: 0 auto;
}

.conteudo2 {
    display: flex;
    flex-direction: column;
    grid-area: conteudo;
    justify-content: center;
    margin-left: 20px;
    z-index: 1;
}


.container4{
    background: #FFFFFF;
}

.text4{
    padding-top: 120px;
    text-align: center;
    z-index: 1;
}

.text4 h3{
    color: #FF4074;
}

.text4 p{
    color: #35123A;
}

.img4 {
    text-align: center;
    background: #FFFFFF;
}

.section4{
    background: #FEE9E8;
}

.text .p1{
    display: flex;
    color: #5827B4;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.container5 {
    align-items: center;
    background: #FEE9E8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas: "conteudo conteudo img";
    justify-content: center;
    height: 500px;
    width: 1024px;
    margin: 0 auto;
}

.conteudo5 {
    grid-area: conteudo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    z-index: 1;
}

.p1 {
    color: #FF4074;
    font-size: 2.3rem;
    font-weight: 900;
    margin-bottom: 30px; 
    margin-left: 0px;
    margin-top: 10px;
}

.p2 {
    font-size: 2.5rem;
    font-weight: 900;
    color:#5827B4;
}

.articulo {
    line-height: 1.5rem;
    font-size: 0.8rem;
    color:#35123A;
    margin-bottom: 10px;
   
}
.img5 {
    display: flex;
    grid-area: img;
    justify-content: center;
    object-fit: cover;
    height: auto;
}

.section5 {
    text-align: center;
    width: 1024px;
    margin: 0 auto;
    color:#5827b4;
    background: #FFF;
    padding: 45px 0 55px 0;
}

.time {
    display: flex;
    justify-content: space-between;
}

.pessoa {
    text-align: center;
    margin: 10px;
    color:#35123A;
}

.linkedin {
    padding: 10px;
}

.pessoa p {
    color: #35123A;
    margin-bottom: 10px;
}

/* FIM HOME */


/* BLOG */

.blog {
    text-align: center;
    color: #FF4074;
    font-weight: bold;
}

.card img {
    max-width: 100%;
    display: block;
}

.about {
    height: 30vh;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

/* CSS GRID POSTS*/

.articles {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 60px;
    margin-bottom: 60px;
    max-width: 1024px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80px; 
    grid-template-areas: "card-box";
    cursor: pointer;
}

.image {
    grid-area: card-box;
    object-fit: cover;
    border-radius: 10px;
    grid-row: 1/3;
}

.description {
    grid-area: card-box;
    padding: 20px;
    color: white;
    background: rgba(88, 39, 180, 0.64);
    grid-row: 2/3;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
}

/* FIM BLOG */

/* LOGIN */

.mainLogin {
    display: flex;
    justify-content: center;
}

.caixaLogin {
    background-color: #F3EFFE;
    border-radius: 5px;
    margin: 10% auto;
    width: 33%;
}

.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10%;
}

.labelForm, .inputForm {
    margin: 3%;
}

.labelForm {
    color: #5827B4;
    font-weight: bolder;
}

.inputForm {
    border: none;
    border-radius: 5px;
    height: 2.5em;
    padding-left: 5%;
}

.buttonEntrar {
    background-color: #FF4074;
    color: white;
    font-family: 'PT mono', monospace;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.buttonEntrar:hover {
    border: solid #5827B4 1.5px;
}

.novoUsuario{
    color: #5827B4;
    font-family: 'PT mono', monospace;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
}

.novoUsuario:hover{
    text-decoration: underline;
}

/* FIM LOGIN */

/* CADASTRAR */

.mainCadastrar {
    display: flex;
    justify-content: center;
}

.caixaNovoUsuario {
    background-color: #F3EFFE;
    border-radius: 5px;
    margin: 10% auto;
    width: 40%;
}

.formUser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8%;
}

.labelUser {
    font-weight: bold;
    padding-top: 5%;
    color: #5827B4;
}

.inputUser, .selectUser {
    border: none;
    border-radius: 5px;
    height: 2.7em;
    padding-left: 5%;
}

.selectUser {
    width: 100%;
}

.genero {
    background-color: #5827B4;
    border: none;
    border-radius: 5px;
    color: white;
    height: 2.7em;
    padding-left: 5%;
}

.buttonCadastrar {
    background-color: #FF4074;
    color: white;
    font-family: 'PT mono', monospace;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5%;
    width: 100%;
    cursor: pointer;
}

.buttonCadastrar:hover {
    border: solid #5827B4 1.5px;
}

/* FIM CADASTRAR */

/* PERFIL */

.perfil {
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
}
