main{
    display: flex;
    justify-content: center;
}

.caixaLogin{
    background-color: #F3EFFE;
    border-radius: 5px;
    margin: 10% auto;
    width: 33%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10%;
}
form label, input{
    margin: 3%;
}

label{
    color: #5827B4;
    font-weight: bolder;
}

input{
    border: none;
    border-radius: 5px;
    height: 2.5em;
    padding-left: 5%;
}

.button{
    background-color: #FF4074;
    color: white;
    font-family: PT mono;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.novoUsuario{
    color: #5827B4;
    font-family: PT mono;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
}

.novoUsuario:hover{
    text-decoration: underline;
}