.mainCadastrar {
    display: flex;
    justify-content: center;
}

.caixaNovoUsuario {
    background-color: #F3EFFE;
    border-radius: 5px;
    margin: 10% auto;
    width: 40%;
}

.formUser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8%;
}

.labelUser {
    font-weight: bold;
    padding-top: 5%;
    color: #5827B4;
}

.inputUser, .selectUser {
    border: none;
    border-radius: 5px;
    height: 2.7em;
    padding-left: 5%;
}

.selectUser {
    width: 100%;
}

.genero {
    background-color: #5827B4;
    border: none;
    border-radius: 5px;
    color: white;
    height: 2.7em;
    padding-left: 5%;
}

.buttonCadastrar {
    background-color: #FF4074;
    color: white;
    font-family: 'PT mono', monospace;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5%;
    cursor: pointer;
}

.buttonCadastrar:hover {
    border: solid #5827B4 1.5px;
}