{% extends 'shared/layout.html' %}
{% load staticfiles %}
{% block conteudo %}
<section class="about">
    <h1 class="p1">Artigos</h1>
    <p class="blog">Escritos por nós para ajudar a todas</p>
</section>
<section class="articles">
    <div class="card">
        <img class="image" src="{% static 'img/ux.png' %}" alt="">
        <p class="description">Como fazer produtos focados no usuário</p>
    </div>
    <div class="card">
        <img class="image" src="{% static 'img/trend.png' %}" alt="">
        <p class="description">Conheça as tendências para 2020</p>
    </div>
    <div class="card">
        <img class="image" src="{% static 'img/begin.png' %}" alt="">
        <p class="description">Saiba por onde começar</p>
    </div>
    <div class="card">
        <img class="image" src="{% static 'img/you-can.png' %}" alt="">
        <p class="description">Você é capaz sim e vamos te dizer o porquê</p>
    </div>
    <div class="card">
        <img class="image" src="{% static 'img/java-javascript.png' %}" alt="">
        <p class="description">Java x JavaScript</p>
    </div>
    <div class="card">
        <img class="image" src="{% static 'img/missao.png' %}" alt="">
        <p class="description">Entenda nosso propósito</p>
    </div>
</section>
{% endblock %}