body, ul, li, p, a {
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-family: 'PT Mono', monospace;
    text-decoration: none;
    color: #F3EFFE;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: #5827B4;
    color: white;
}

.nav-bar ul {
    display: flex;
}

.nav-bar .links ul li {
    margin-left: 20px;
    list-style: none;
    text-decoration: none;
    text-decoration-color: white;
}

/* grid */

header {
    margin: 0 auto;
    width: 1024px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas: "conteudo img img";
    justify-content: center;
    height: 500px;
}

.conteudo {
    grid-area: conteudo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    z-index: 1;

}

.p1 {
    color: #FF4074;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 30px; 
}

.aprenda {
    color:#35123A;
    line-height: 1.8rem;
    margin-bottom: 10px;
}

.b1 {
    background: #5827B4;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'PT Mono', monospace;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 15px;
}

.img1 {
    /* background: #5827B4; */
    display: flex;
    grid-area: img;
    justify-content: center;
    object-fit: cover;
}


/* grid 2 */


.container2 {
    background: #F3EFFE;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "sobrepor";


}

.text2{
    grid-area: sobrepor;
    padding-top: 120px;
    text-align: center;
    z-index: 1;
}
.text2 h1{
    color: #FF4074;
}
.text2 p{
    color: #35123A;
}

.img2 {
    grid-area: sobrepor;
    text-align: center;
}
.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas: "img conteudo conteudo";
    height: 500px;
    justify-content: center;
}

.conteudo2 {
    display: flex;
    flex-direction: column;
    grid-area: conteudo;
    justify-content: center;
    margin-right: 20px;
    z-index: 1;

}

.text4{
    padding-top: 120px;
    text-align: center;
    z-index: 1;
}
.text4 h1{
    color: #FF4074;
}
.text4 p{
    color: #35123A;
}
.img4 {
    text-align: center;
   
}