body{
    background: white;
    width: 1024px;
}

nav{
    background: #5827B4;
    height: 80px;
    position: absolute;
    width: 1440px;
}

.logo{
    align-items: center;
    bottom: 27.5%;
    color: #FFFFFF;
    display: flex;
    font-family: PT Mono;
    font-size: 28px;
    left: 15.62%;
    line-height: 36px;
    right: 72.36%;
    top: 27.5%;
    position: absolute;
}

.P{
    align-items: center;
    bottom: 32.5%;
    color: #FFFFFF;
    display: flex;
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    left: 49.17%;
    line-height: 160%;
    right: 43.47%;
    text-align: right;
    top: 31.25%;
    position: absolute;
}

.S{
    align-items: center;
    bottom: 32.5%;
    color: white;
    display: flex;
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    left: 59.03%;
    line-height: 160%;
    right: 35%;
    text-align: right;
    top: 31.25%;
    position: absolute;
}
.B{
    align-items: center;
    bottom: 32.5%;
    color: #FFFFFF;
    display: flex;
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    left: 67.43%;
    line-height: 160%;
    right: 27.99%;
    text-align: right;
    top: 31.25%;
    position: absolute;
}
.L{
    align-items: center;
    bottom: 17.5%;
    bottom: 33.33%;
    color: #FFFFFF;
    display: flex;
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    left: 14.29%;
    left: 75.35%;
    line-height: 160%;
    text-align: center;
    right: 13.57%;
    right: 15.56%;
    position: absolute;
    top: 17.5%;
    top: 33.33%;

}

